<table border="2">
  <thead >
      <tr> 
          <th>Filter Pipe</th>
          <th><input type="text" placeholder="Search" [(ngModel)]="str" id="listSearch"></th>
      </tr>
  </thead>
  <tbody>
      <tr  >
          <th>ID</th>
          <th>NAME</th>
          <th>Price</th>
          <th>Publish</th>
      </tr>
     
          <tr *ngFor="let book of books | stringFilter:str">
          <td>{{book.bookId}}</td>
          <td>{{ book.bookName }}</td>
          <td>{{ book.bprice }}</td>
          <td>{{ book.publish }}</td>
      </tr>

  </tbody>
</table>