.one{
    color: red;
    background-color: silver;
}

.two{
    color: green;
}

.three{
    background-color: red;
}

.tb>tr{
    border: 2px solid black;
    background-color: blanchedalmond;
    
}