<app-home></app-home>

<div class="header">
    <div class="nav-menu">
      
        <div class="logo">S.V.P.T’s School</div>
        <div class="menu">
            <ul>
               
                 <li><img src="./istockphoto-1171617683-612x612.jpg"></li> <br>
                
            </ul>
         
        </div>
    </div>
    <div class="banner"> 
       
        <p>Proud to share that our school Saraswati Vidyalaya has been <br> </p>
        <p> 2nd in Mumbai and 22nd in india by Education World</p>
        <a href="index.html">More..</a>
    </div>
</div>

<div class="containers">
    <div class="text">
        <h1>USEFUL RESOURCES</h1>
        <p>LET'S STAY CONNECTED SOCIALLY</p>
    </div>
    <div class="main">
        <div class="single">
            <i class="fas fa-cloud-download-alt"></i>
            <p>HOW TO STUDY MORE IN LESS TIME FOR EXAMS</p>
            <a href="index.html"> Read More</a>
        </div>
        <div class="single">
            <i class="fas fa-cogs"></i>
            <p>CAREERBYTES: HOW TO HONE SKILLS AFTER FINISHING CLASS 10?
                </p>
            <a href="index.html">Read More</a>
        </div>
        <div class="single">
            <i class="fas fa-wrench"></i>
            <p>REASONS WHY TRAVELING IS THE BEST FORM OF EDUCATION</p>
            <a href="index.html">Read More</a>
        </div>
    </div>

  <!-- 
    <footer>
        <h1>S.V.P.T’s School</h1>
        <p>S.V.P.T’s Saraswati Vidyalaya High School was established in the year 1981 at Namdevwadi in Thane. The school presently owns its premises, which was inaugurated on 1st October, 1991 by the then Vice President of India. </p>

        <p class="txt">This is <b>StoneWork</b> SARASWATI VIDYALAYA HIGH SCHOOL
            & JR. COLLEGE OF SCIENCE
                 Behind Central Jail, Rabodi - 1,
                 Thane (west) MH 400601</p>

      
      <p>Office Timing
        09:00 AM to 01:00 PM
             02:00 PM to 04:00 PM</p>

      
    </footer> -->

    <!-- Remove the container if you want to extend the Footer to full width. -->
<!-- Remove the container if you want to extend the Footer to full width. -->
  <!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!--FOOTER-->
<footer>
<div class="top_header">
<section>
<span><i class="fa fa-map-marker"></i></span>
<span>Street, full address, state/province, country, pincode</span>
</section>
<section>
<span><i class="fa fa-phone"></i></span>
<span>(91) 2222 5467</span>
</section>
<section>
<span><i class="fa fa-envelope"></i></span>
<span>info@websitename.com</span>
</section>
</div>
<span class="border-shape"></span>
<div class="bottom_content">
<section>
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-telegram"></i></a>
</section>
<section>
<a href="#">Home</a>
<a href="#">About us</a>
<a href="#">Teacher</a>
<a href="#">Staff</a>
<a href="#">Member</a>
<a href="#">Contact Us</a>
</section>
</div>
<div class="copyright">
Copyright © 2021 websitename - All rights reserved 
</div>
</footer>