<section>
    <app-home></app-home>
</section>



<div class="ShowUser">
    <h1>notice </h1>
    <table id="keywords" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
               <!-- <th>sr no</th>-->
                <th>Date</th>
                <th>reason</th>
                <th>Message</th>
          
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let msgg of msg;let i = index">
               <!-- <td>{{msgg.id}}</td> -->
                <td>{{msgg.date}}</td>
                <td>{{msgg.reason}}</td>
                <td style="min-width: 400px;">{{msgg.msg}}</td>
             
            </tr>
           
        </tbody>
    </table>

    
  
</div>

