input.ng-untouched{
    background-color: yellow ;
}

input.ng-touched{
    background-color: lightsalmon ;
}

input.ng-pristine{
    border: double 5px pink;
}

input.ng-dirty{
    border: dashed 5px blue;
}

input.ng-valid{
    border: green 5px solid;
}

input.ng-invalid{
    border: red 5px solid;
}

.myColor{
    color: red;
}

