/*
.image{
   
    width: 100%;
    
    border: red solid 3px;
   
    background: url("./sms.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height:98vh;
    min-width: 100%;
   

    
}




form{
   
  
    width: 50%;
    margin-left: 28%;
    margin-top: 10%;
    border: 2px solid black;
    
    
   
}

h2{
    margin-left: 42%;
    text-transform: uppercase;
   
}  */
/*
label{
    margin-left: 30%;
    text-transform: uppercase;
    font-size: 20px;
    
}

input{
    margin-bottom: 2%;
   
}

button{
    margin-left: 45%;
    margin-bottom: 5%;
    font-size: 20px;
    background-color: green;
} */
/*
.xob{
    background: url("./sms.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height:97vh;
    min-width: 90%;
     
      
  
  }


.box{
    position:absolute;
    left:48%;
    top:40%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to right,  #725197,#84c3f7, #725197);
    border-radius:3px;
    padding:70px 100px;
    height: 30%;
    width:28%;
    border-radius: 5px;
    opacity: 0.8;
   
}

.text-center{
    color:rgb(128, 34, 34);	
    text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}

.input-container{
    position:relative;
    margin-bottom:25px;
}
.input-container label{
    position:absolute;
    top:0px;
    left:140px;
    font-size:10px;
    color:rgb(177, 174, 174);	
    text-transform: uppercase;
   
    transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid rgb(80, 79, 79);  
  background:transparent;
  width:50%;
  margin-left: 30%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:rgb(231, 17, 17);
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
    color:#fff;
    background-image: linear-gradient(to right, #84c3f7, #725197,#84c3f7);
    outline: none;
    border: 0;
    color: #fff;
    padding:10px 20px;
    text-transform:uppercase;
    margin-top:10px;
    border-radius:5px;
    cursor:pointer;
    position:relative;
    margin-left: 40%;
    border: 1px solid blanchedalmond;
} */
/*.btn:after{
    content:"";
    position:absolute;
    background:rgba(0,0,0,0.50);
    top:0;
    right:0;
    width:100%;
    height:100%;
}*/
/*
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:12px;
    
}*/

/* Code By Alireza Derakhshan */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');
body{
    background-image: url('https://i.pinimg.com/originals/af/9e/76/af9e76ae6aa5db7df074ce93e42d2fb4.png');
    background: url("./sms.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height:97vh;
    min-width: 90%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}
.login-box{
background: rgba(0, 0, 0, 0.22);

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.5px);
-webkit-backdrop-filter: blur(6.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
height: 450px;
width: 450px;


}
.text-login p{
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 10%;
}
.text-login span{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(212, 212, 212);
}
.text-login{
    text-align: center;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.login-form{
    margin-top: 40px;
}
.form-control{
    margin-top: 20px;
    width: 350px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
    height: 40px;
    border: #00000033 1px solid;
    font-size: 20px;
    border-radius: 15px;
    background-color: #a5a5a524;
}
.form-control::placeholder{
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color:rgb(196, 196, 196);
}
.form-control:focus{
    outline: none;
}
button{
    margin-top: 20px;
    width: 200px;
    font-weight: bold;
    height: 45px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(7.5px);
    font-family: 'Quicksand', sans-serif;
    border: transparent 1px solid;
    color: white;
}
hr{
    width: 70%;
    margin-top: 40px;
}
.social-login > a{
    color: white;
    text-decoration: none;
    margin-left: 2%;
   
    
   
}
.social-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fab{
    color:white;
    border-radius: 20px;
    font-size: 40px;
    width: 50px;
    height: 50px;
} 
  