
<section>
    <app-home></app-home>
</section>
<div class = "xob">
    <div class = "box">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update Teacher </h1>
            <div class = "card-body">
                <form  method="POST">
                    <input type="hidden" [(ngModel)]="urlid" name="id" />
                    <div class ="input-container">
                        <label>   Name </label><br>
                        <input
                        type = "text"
                        name = "name"
                        [(ngModel)] = "teacher.name"
                        class = "form-control"
                        placeholder="Enter rental Name" 
                        />
                    </div>
                    
                    
                    
                    <div class ="input-container">
                        <label>  password </label><br>
                        <input
                        type = "text"
                        name = "passowrd"
                        [(ngModel)]= "teacher.passowrd"
                        class = "form-control"
                        placeholder="Enter password" 
                        />
                    </div>
                    
                    <div class ="input-container">
                        <label> gender </label><br>
                        <input
                        type = "text"
                        name = "gender"
                        [(ngModel)] = "teacher.gender"
                        class = "form-control"
                        placeholder="Enter rental Email" 
                        />
                    </div>
                    
                    <div class ="input-container">
                        <label> salary </label><br>
                        <input
                        type = "text"
                        name = "salary"
                        [(ngModel)] = "teacher.salary"
                        class = "form-control"
                        placeholder="Enter mobile" 
                        />
                    </div>

                    <div class ="input-container">
                        <label> Active </label><br>
                        <input
                        type = "text"
                        name = "active"
                        [(ngModel)] = "teacher.active"
                        class = "form-control"
                        placeholder="Enter mobile" 
                        />
                    </div>

                    
                    <div class ="input-container">
                        <label>subject</label> <br>
                        <select [(ngModel)]="teacher.subjectid" name="rollno">
                            <option class="option" [value]="subject.id" *ngFor="let subject of subjects">{{subject.id + ' - ' + subject.name  }}</option>
                        </select>
                    </div>
                       <br>
                    <div class = "box-footer">
                        <button type="submit" (click)="updateTeacher(teacher,urlid)" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
</div>
